.signup_page {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  padding-top: 30px;
  background-image: url(../../assets/white4.png);
  background-size: cover;
}

@media only screen and (min-width: 1400px) {
  .signup_page {
    padding-top: 3%;
  }
}
