.display_services {
  /* margin-top: 0%; */
  /* background-color: rgb(245, 245, 245); */
  padding: 1%;
  padding-top: 0%;
  /* background-image: url("../../assets//whitesmall.png"); */
  background-size: cover;
  padding-bottom: 0%;
  margin-bottom: 5%;
  /* border-bottom: 2px dotted #7af8ea; */
}

.main_heading {
  font-size: 30px;
  font-weight: bolder;
  color: #525252;
}

.sub_heading {
  margin-top: 0.3%;
  color: #525252;
}

@media only screen and (min-width: 1300px) {
  .display_services {
    /* margin-top: -1%; */
    /* background-color: blue; */
  }
}
